$unit: 1rem;

@for $i from 1 through 6 {
  $size: calc(1rem + calc(7 - $i) * .25rem);

  h#{$i} {
    font-size: $size !important;
    font-weight: var(--bold);
    line-height: $size;
    margin: 0;
    padding: calc(1rem + calc(7 - $i) * .25rem) 0;
  }
}